<h1>New directory</h1>

<%= render 'form' %>

<p>
  <% if @directory.parent %>
      <%= link_to "Back to '#{@directory.parent.name}' Directory", browse_path(@directory.parent) %>
  <% else %>
      <%= link_to "Back to Root directory", data_home_path %>
  <% end %>
</p>

<%= render :partial => "browser/breadcrumbs" %>





