<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome!</h1>






  <% if user_signed_in? %>
      <li><%= current_user.email%></li>
  <% else %>
      <li><%= link_to "Sign in!", new_user_session_path, class: "btn btn-large btn-primary" %></li>
  <% end %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>