<ul class="nav nav-list">
  <li><input type="checkbox" id="item-0" /><label for="item-0"><%= directory.name %> </label>
      <ul class="nav nav-list">
      <% unless directory.children.empty? %>
          <%= render :partial => 'browser/treeview', :collection => directory.children, :as => :directory %>
      <% end %>

      <% directory.cloud_files.each do |cloud_file| %>
            <li><%= link_to cloud_file.name, '#', :onclick => "set_value('#{cloud_file.id}', '#{cloud_file.name}');", :data => {:dismiss => "modal"}  %></li>
      <% end %>
      </ul>
  </li>
  </ul>