<h2>Directories</h2>

<table class= "table table-striped">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @directories.each do |directory| %>
      <tr>
        <td><%= directory.name %></td>
        <td><%= directory.directory_path %></td>
        <td>---</td>
        <td><%= link_to 'Show', directory %></td>
        <!--<td><= link_to 'Edit', edit_cloud_file_path(cloud_file) %></td>-->
        <!-- <td><= link_to 'Destroy', cloud_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>  -- >
      </tr>
  <% end %>
</table>