<br>
<h4>Editing execution basic params</h4>
<ul class="breadcrumb">
  <%= link_to "Basic Params |", edit_execution_path(@execution) %>
</ul>

<%= render 'form' %>

<%= link_to 'Show', @execution %> |
<%= link_to 'Back', executions_path %>
