<li>
  <div class="span6" ><%= virtual_machine.hostname %></div>

  <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
        </button>

  </div>
</li>
