// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  padding-top: 10px;
}

.actions {
  padding-top: 20px;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("glyphicons-halflings.png") !important;
}

.icon-white {
  background-image: url("glyphicons-halflings-white.png") !important;
}